$border: 2.4px solid black;
$padding: 20px;
$margin-content: 50px;
$button-padding: 10px;
$margin-bottom: 20px;
$content-height: 75%;
$profilePic-width: 120px;
$nav-margin: 0 3px;

* {
    margin: 0;
    padding: 0;
    overflow: auto;
    text-decoration: none;
    color: black;

    input {
        border: $border;
        background: transparent;
        padding: 8px;
        font-size: 9pt;
        font-family: "Playfair Display", serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        //font-family: 'Playfair Display', serif;
        font-family: "Prata", serif;
    }
    strong {
        font-weight: bold;
    }
    u {
        text-decoration: underline;
    }
    p {
        font-size: 12pt;
    }
}
body {
    font-family: "Playfair Display", serif;
    //font-family: "Lato", sans-serif;
    font-weight: 300;
}

header {
    margin: 25px $margin-content;
    height: 3 * $padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    a {
        display: flex;
        align-items: center;
    }
    &.is-home {
        height: 18px;
    }
}

nav {
    align-self: flex-end;
    align-items: center;
    display: flex;

    span {
        display: flex;
        align-items: baseline;
        height: 5vh;
        margin: $nav-margin;
        padding: 0 4px;
        overflow: hidden;
        img {
            min-height: 30px;
            min-width: 30px;
        }
    }

    .search-bar {
        display: flex;
        button {
            margin-left: 10px;
        }
    }

    &.home {
        padding-top: 2vh;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        span {
            img {
                align-self: stretch;
            }
            p {
                align-self: center;
                margin-left: 1vw;
                padding-bottom: 10px;
            }
            margin-top: 4px;
        }
        .search-bar {
            input {
                margin-left: 14px;
            }
            flex-direction: row-reverse;
        }
    }
}

#loading-background {
    background-image: linear-gradient(
        rgba(242, 242, 242, 1) 75%,
        rgba(233, 85, 25, 0.2),
        rgba(233, 85, 25, 0.4),
        rgba(233, 85, 25, 1)
    );
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 90vw;
        max-height: 40vh;
    }
}
.content-box {
    overflow: hidden;
    margin: $margin-content;
    margin-top: 0;
    margin-bottom: 20px;
    height: $content-height;
    padding: $padding;
}

footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    bottom: 2vh;
}
button {
    font-size: 14pt;
    font-family: "Playfair Display", serif;
    border: none;
    background-color: transparent;
}

.auth-button {
    width: 100px;
    padding: $button-padding;
    display: flex;
    justify-content: center;
    margin: 10px;
    border: $border;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        padding-right: 10px;
    }
    h1 {
        padding-right: 20px;
    }
    .col {
        display: flex;
        align-items: center;
        .add-item {
            .Collapsible {
                input {
                    display: none;
                }
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}

.home-fade-in {
    display: flex;
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 1.3vw;
    }
}
#home-page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    .sub-title-home {
        margin-right: 2vw;
        height: 40vh;
        display: flex;
        justify-content: space-evenly;
        margin-top: 2vh;
        will-change: transform;
        overflow: hidden;

        .auth-col {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            min-width: 30vw;
            justify-content: space-evenly;
            align-self: center;
            align-content: space-around;
            overflow: hidden;
            min-height: 50%;

            .auth-collapsible {
                display: flex;
                align-self: center;
            }
        }
        h1 {
            width: 70%;
        }

        .map-col {
            align-self: center;
            width: 60vw;
            max-height: 35vh;
            max-width: 50vw;
            object-fit: scale-down;
        }
    }
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    img {
        max-width: 95%;
        max-height: 40vh;
        object-fit: none;
    }
}

.profileBanner {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;

    .row {
        width: 100%;
        display: flex;
    }

    .profileInfo {
        width: 90%;
    }
    .edit-button {
        align-self: flex-start;
    }

    .profilePic-wrapper {
        input {
            display: none;
        }
        .profilePic {
            margin-right: 2vw;
            border: $border;
            width: $profilePic-width;
            height: 100px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .buttons {
            position: absolute;
            width: $profilePic-width;
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }
    .editorContainer {
        .panel {
            margin-top: 2px;
            display: flex;
            p {
                margin-top: 4px;
                font-size: 11pt;
                align-self: baseline;
                margin-left: 2vw;
            }
            .editorButtons {
                margin: 0 10px;
                button {
                    width: 15px;
                }
            }
            .add-icon {
                img {
                    padding-top: 4px;
                }
                display: flex;
                align-content: flex-end;
            }
        }
    }
}

.not-found-plane {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-height: 90%;
    }
}
.folders-wrapper {
    display: flex;
    justify-content: space-between;
    .add-folder-error {
        font-size: 10pt;
        text-align: end;
    }
}

.layout {
    height: 80% !important;

    .element {
        overflow-x: hidden;
    }
    .react-grid-placeholder {
        opacity: 0 !important;
    }

    .react-grid-item {
        > .react-resizable-handle {
            z-index: 1000;
            flex-shrink: 0;
        }
    }
    .grid-element {
        border: $border;
        overflow-wrap: break-word;
        .element-buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            z-index: 1000;
        }
    }
    .element-image {
        overflow: hidden;
    }

    .element-text {
        display: flex;
        .text-content {
            margin-top: -10px;
            padding: 0 20px 10px 20px;
        }
        .element-buttons {
            top: 0;
            position: -webkit-sticky;
            position: sticky;
        }
    }
    .element-audio {
        .audio-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                padding: 0 10px 10px 10px;
            }
            .audio-player {
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
                bottom: 0;
                align-self: center;
            }
        }
    }
}

.folder {
    overflow: hidden;
    margin: 5px;
    height: 100px;
    width: 100px;
    display: flex;

    flex-direction: column;
    .folderDetailRow {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        height: 40px;
        .folderContraDetail {
            width: 35%;
        }
        .helper {
            width: 4px;
        }
        .folderDetail {
            transform: skew(20deg);
            display: flex;
            justify-content: flex-end;
            padding-right: 4px;
            width: 65%;
            border-top: 0;
            border-bottom: $border;
            border-left: $border;
            border-right: 0 !important;
            margin-bottom: 10px;
            img {
                transform: skew(-20deg);
                height: 30px;
            }
        }
    }

    .folderContent {
        border-top: 0;
        text-align: center;
    }
}

.Collapsible {
    align-self: flex-end;
    text-align: right;

    &.add-folder {
        input {
            margin-bottom: 0;
            padding: 4px;
        }
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .trigger {
        font-size: 14px;
        font-weight: 300;
    }

    input {
        margin-bottom: 10px;
        height: 20px;
        width: 100px;
    }
}

.delete-alert {
    display: flex;
    justify-content: space-between;

    width: 30vw;
    padding: $button-padding;
    border: $border;
    div {
        display: flex;
        button {
            align-self: center;
        }
    }

    img {
        margin: 0 2px;
        width: 30px;
    }
}

.menu {
    display: flex;
    input {
        display: none;
    }
    .editorContainer {
        width: 100% !important;
        border: $border;
        margin-bottom: $margin-bottom;
        width: 70vw;
        overflow: hidden;
        min-height: 20vh;
        max-height: 60vh;
        .editorButtons {
            img {
                width: 30px;
            }
            display: flex;
            justify-content: space-between;
            top: 0;
            position: -webkit-sticky;
            position: sticky;
            //           border-bottom: $border;
            padding-top: $button-padding;
            button {
                width: 40px;
                font-size: 16pt;
            }
        }
        .editor {
            max-height: 60vh;
            padding: 10px;
            padding-top: 0;
        }
    }

    .add-item {
        .Collapsible {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
