$border: 2px solid black;
$padding: 20px;
$margin-content: 50px;
$button-padding: 5px 5px;

* {
    margin: 0;
    padding: 0;
    overflow: auto;
}
.content-box {
    margin: $margin-content;
    margin-top: 0;
    height: 78%;
    border: $border;
    padding: $padding;
}

input {
    border: $border;
}

header {
    margin: 0 $margin-content;
    height: 3 * $padding;
    display: flex;
    justify-content: space-between;
}

nav {
    align-self: flex-end;
    display: flex;

    span {
        border: $border;
        border-bottom: 0;
        border-right: 0;
        padding: $button-padding;
    }
    span:last-of-type {
        border-right: $border;
    }
}

.auth-button {
    width: 100px;
    padding: $button-padding;
    display: flex;
    justify-content: center;
    margin: 10px;
    border: $border;
}

.dashboard-element {
    border: $border;
    overflow-wrap: break-word;
}

.folder {
    margin: 5px;
    border: $border;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;

    .folderDetail {
        text-align: right;
        padding-right: 4px;
        align-self: flex-end;
        width: 65%;
        height: 20px;
        border-bottom: $border;
        border-left: $border;
        margin-bottom: 10px;
    }

    .folderContent {
        text-align: center;
    }
}

.react-grid-item.react-grid-placeholder {
    opacity: 0 !important;
}